/* FULL PAGE BACKGROUND */
.auth-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #1e3a8a, #0f172a);
  font-family: "Segoe UI", sans-serif;
}

/* CARD */
.auth-card {
  width: 380px;
  padding: 35px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.1);

  color: white;
  text-align: center;
}

/* TITLE */
.auth-card h1 {
  margin-bottom: 5px;
  font-size: 28px;
}

.auth-card p {
  opacity: 0.7;
  margin-bottom: 20px;
}

/* INPUTS */
.auth-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;

  border-radius: 8px;
  border: none;

  outline: none;

  background: rgba(255, 255, 255, 0.1);
  color: white;
}

.auth-card input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* BUTTON */
.auth-card button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  background: #22c55e;
  border: none;
  border-radius: 8px;

  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.auth-card button:hover {
  background: #16a34a;
}

/* BOTTOM TEXT */
.bottom-text {
  margin-top: 15px;
  font-size: 14px;
}

.bottom-text a {
  color: #60a5fa;
  text-decoration: none;
}