
.footer{
background:#010a1f;
color:white;
margin-top:px;
}

.footer-container{
max-width:1300px;
margin:auto;
padding:60px 25px;
display:grid;
grid-template-columns:2fr 1fr 1fr 1fr 1fr;
gap:40px;
}

.footer-section h2,
.footer-section h3{
margin-bottom:20px;
}

.footer-section p{
margin-bottom:12px;
color:#cbd5e1;
line-height:1.7;
}

.footer-section a{
display:block;
margin-bottom:12px;
text-decoration:none;
color:#cbd5e1;
transition:.3s;
}

.footer-section a:hover{
color:white;
padding-left:8px;
}

.footer-bottom{
border-top:1px solid #374151;
text-align:center;
padding:25px;
color:#94a3b8;
font-size:15px;
}

@media(max-width:1000px){

.footer-container{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:700px){

.footer-container{
grid-template-columns:1fr;
text-align:center;
}

.footer-section a:hover{
padding-left:0;
}

}

