.product-container{
  padding:30px;
}

.title{
  font-size:32px;
  margin-bottom:20px;
}

.search-bar{
  width:100%;
  padding:12px;
  margin-bottom:20px;
  border-radius:10px;
  border:1px solid #ddd;
}

.product-form{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
  margin-bottom:25px;
}

.product-form input{
  padding:12px;
  border-radius:10px;
  border:1px solid #ddd;
}

.product-form button{
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:white;
  font-weight:600;
}

.table-card{
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 5px 20px rgba(0,0,0,.08);
}

table{
  width:100%;
}

th{
  text-align:left;
  padding:12px;
}

td{
  padding:12px;
}

.low-stock{
  color:red;
  font-weight:bold;
}

.in-stock{
  color:green;
  font-weight:bold;
}

.edit-btn{
  background:orange;
  color:white;
  border:none;
  padding:8px 12px;
  margin-right:5px;
  border-radius:6px;
}

.delete-btn{
  background:red;
  color:white;
  border:none;
  padding:8px 12px;
  border-radius:6px;
}